
.contenedor {
    margin: 1rem;
}

.contenedor-tablas {
    display: grid;
    grid-template-columns: 25rem 25rem auto;
}

.tablas-referenciales a {
    display: inline-block;
    color: #1976D2;
}

.tablas-referenciales a:visited {
    color: #3F51B5;
}

.tablas-de-datos a {
    display: inline-block;
    color: #1976D2;
}

.tablas-de-datos a:visited {
    color: #3F51B5;
}