<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>GZZ_Astro</servlet-name>
        <servlet-class>api.referencial.GZZ_Astro_Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GZZ_Astro</servlet-name>
        <url-pattern>/api/gzz_astro/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GZM_Mineral</servlet-name>
        <servlet-class>api.referencial.GZM_Mineral_Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GZM_Mineral</servlet-name>
        <url-pattern>/api/gzm_mineral/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>P8M_Centro</servlet-name>
        <servlet-class>api.referencial.P8M_Centro_Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>P8M_Centro</servlet-name>
        <url-pattern>/api/p8m_centro/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>R7C_Alimento</servlet-name>
        <servlet-class>api.referencial.R7C_Alimento_Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>R7C_Alimento</servlet-name>
        <url-pattern>/api/r7c_alimento/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RZC_Empleo</servlet-name>
        <servlet-class>api.referencial.RZC_Empleo_Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RZC_Empleo</servlet-name>
        <url-pattern>/api/rzc_empleo/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RZC_Categoria</servlet-name>
        <servlet-class>api.referencial.RZC_Categoria_Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RZC_Categoria</servlet-name>
        <url-pattern>/api/rzc_categoria/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>E1C_Produccion</servlet-name>
        <servlet-class>api.datos.E1C_Produccion_Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>E1C_Produccion</servlet-name>
        <url-pattern>/api/e1c_produccion/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>E1C_Prospeccion</servlet-name>
        <servlet-class>api.datos.E1C_Prospeccion_Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>E1C_Prospeccion</servlet-name>
        <url-pattern>/api/e1c_prospeccion/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>E1Z_Hallazgo</servlet-name>
        <servlet-class>api.datos.E1Z_Hallazgo_Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>E1Z_Hallazgo</servlet-name>
        <url-pattern>/api/e1z_hallazgo/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>E3M_Almacen</servlet-name>
        <servlet-class>api.datos.E3M_Almacen_Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>E3M_Almacen</servlet-name>
        <url-pattern>/api/e3m_almacen/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GZZ_Ubicacion</servlet-name>
        <servlet-class>api.datos.GZZ_Ubicacion_Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GZZ_Ubicacion</servlet-name>
        <url-pattern>/api/gzz_ubicacion/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>R6Z_Personal</servlet-name>
        <servlet-class>api.datos.R6Z_Personal_Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>R6Z_Personal</servlet-name>
        <url-pattern>/api/r6z_personal/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>R7C_Provision</servlet-name>
        <servlet-class>api.datos.R7C_Provision_Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>R7C_Provision</servlet-name>
        <url-pattern>/api/r7c_provision/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RZC_Factoria</servlet-name>
        <servlet-class>api.datos.RZC_Factoria_Empleo_Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RZC_Factoria</servlet-name>
        <url-pattern>/api/rzc_factoria/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>T3C_Cargamento</servlet-name>
        <servlet-class>api.datos.T3C_Cargamento_Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>T3C_Cargamento</servlet-name>
        <url-pattern>/api/t3c_cargamento/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>T3C_Recogida</servlet-name>
        <servlet-class>api.datos.T3C_Recogida_Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>T3C_Recogida</servlet-name>
        <url-pattern>/api/t3c_recogida/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>T5C_Suministro</servlet-name>
        <servlet-class>api.datos.T5C_Suministro_Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>T5C_Suministro</servlet-name>
        <url-pattern>/api/t5c_suministro/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TZM_Nave</servlet-name>
        <servlet-class>api.datos.TZM_Nave_Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TZM_Nave</servlet-name>
        <url-pattern>/api/tzm_nave/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TZZ_Nave</servlet-name>
        <servlet-class>api.datos.TZZ_Viaje_Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TZZ_Nave</servlet-name>
        <url-pattern>/api/tzz_nave/</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>